.darkmode-button {
    position: fixed;
    bottom: 4rem;
    left: 1rem;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.darkmode-button:hover {
    background-color: var(--title-color-dark);
}

.darkmode-icon {
    font-size: 1rem;
    color: var(--container-color);
}

@media screen and (max-width: 992px) {
    .darkmode-button {
        bottom: 4rem;
        left: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .darkmode-button {
        bottom: 4rem;
        left: 0.75rem;
    }
}

@media screen and (max-width: 576px) {
    .darkmode-button {
        bottom: 4rem;
        left: 0.75rem;
    }
}

@media screen and (max-width: 350px) {
    .darkmode-button {
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        font-size: 1.25rem;
    }

    .darkmode-icon {
        font-size: 1.25rem;
    }
}